{% extends 'base.html.twig'  %}

{% block title %}
    <title>TRUEFFET</title>
{% endblock %}

{% block javascripts %}
{% endblock %}
{% block body %}
    <p class="vinyl-list-title">Vinyls collectors</p>
    <div class="grid-container">
        {% for vinyl in listeVinyl %}
            <div class="vinyl-container">
                <a href="{{ path('app_vinyl', {'id' : vinyl.getId()}) }}">
                    {% if vinyl.isCollector %}
                        <img class="vinyl-nomPhotoAlbum premium" src="{{ asset("img/" ~ vinyl.nameAlbum) }}" alt="erreur de l'image">
                    {% else %}
                        <img class="vinyl-nomPhotoAlbum" src="{{ asset("img/" ~ vinyl.nameAlbum) }}" alt="erreur de l'image">
                    {% endif %}
                    <p class="vinyl-title"> {{ vinyl.title }}</p>
                    <p class="vinyl-title"> {{ vinyl.album }}</p>
                    <p class="vinyl-price"> €{{ vinyl.price }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    -
{% endblock %}